.contenedorPrincipalPublic {
  display: flex;
  flex-direction: column;
  /* background: var(--color-background); */
}
.contenedorOutlet {
  display: flex;
  justify-content: center;
  width: 100%;
}
