.contenedorForm {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}

.contenedorInput {
  display: flex;
  flex-direction: column;
  max-width: 220px;
}
.styleInput {
  border: 1px solid white;
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #2c2c2c;
  width: 100%;
  outline: 1px solid var(--color-primario);
}
.contenedorSecundarioInput {
  box-sizing: border-box;
  background-color: var(--color-blanco);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 15px;
  gap: 10px;
  height: 50px;
  /* border-radius: 5px; */
  width: 100%;
  border-radius: 10px;
}
.nombreInput {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgb(69, 69, 69);
}
.required:after {
  color: #54bceb;
  content: "*";
  margin-left: 2px;
}
.contenedorBtns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
}
.btnEnviar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  gap: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.01em;
  border: 0;
  cursor: pointer;
  background: var(--color-primario);
  border-radius: 30px;
  order: 0;
  color: var(--color-blanco);
  position: relative;
  overflow: hidden;
  margin-top: 20px;
  justify-content: center;
}

.btnEnviar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #ed264432; */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.btnEnviar:hover::after {
  transform: scaleX(1);
}
@media (min-width: 894px) {
  .contenedorForm {
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto;
    width: 70%;
    justify-content: center;
    background: white;
    padding-top: 20px;
    border-radius: 30px 30px 30px 30px;
    margin-bottom: 20px;
    padding-bottom: 35px;
  }
  .nombreInput {
    line-height: 20px;
  }

  .contenedorInput {
    max-width: 300px;
  }
  .contenedorSecundarioInput {
    width: 300px;
  }
  .styleInput {
    line-height: 20px;
  }
  .contenedorBtns {
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    text-align: center;
  }
}
