:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: url("./assets/fondoPrincipal.png") no-repeat center center fixed;
  background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-primario: #54bceb; /* Ejemplo: Azul primario */
  --color-secundario: #fbaf51; /* Ejemplo: Azul primario */
  --color-secundario-sub: #fbaf51; /* Ejemplo: Azul primario */
  --color-secundario-hover: #a37235; /* Ejemplo: Azul primario */
  --color-submenus: #c5edff; /* Ejemplo: Naranja secundario */
  --color-headerTablas: #dcf4ff; /* Ejemplo: Color de fondo */
  --color-texto: #4e4e4e; /* Ejemplo: Color de fondo */
  --color-background: #f8f8f8; /* Ejemplo: Color de fondo */
  --color-blanco: #ffffff; /* Ejemplo: Color de fondo */
  --font-family-primary: "Poppins";
  --font-family-secondary: "Oswald", sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
ul {
  padding: 0px;
  margin: 0px;
}
